article {
  background-color: black;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.myNavbar {
  background-color: #ffff00;
}
canvas {
  border: 1px solid black;
  background-color: white;
  width: 99%;
  height: 99%;
  margin-bottom: 0.5%;
}
.cursor {
  cursor: text;
}
.myBtn {
  height: 50px;
  width: 50px;
  border-radius: 50% !important;
}

.yellow {
  background-color: yellow !important;
}
.red {
  background-color: red !important;
}
