main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.myNavbar {
  background-color: #ffff00;
}
canvas {
  border: 1px solid black;
  width: 99%;
  height: 99%;
  margin-bottom: 0.5%;
}
.cursor {
  cursor: text;
}
.myBtn {
  border-radius: 50% !important;
}
